*.rst	text
*.bat	eol=crlf
*.sh	eol=lf
*.cpp	text
*.hpp	text
*.i	text
*.ini	text
*.py	text
*.py.in	text
*.txt	text
*.cfg	text
*.cfg.in	text
Doxyfile.in	text
.gitattributes	text
CMakeLists.txt	text
MANIFEST.in	text
Makefile	eol=lf
